{{#extends "base"}}
{{#block "content"}}

<h1>Welcome to my movie poster shop</h1>
<img class="w-100" src="https://www.moviepostershop.com/images/slideshow/new-releases.jpg" alt="new-releases"></img>
<div>
    <a class="btn btn-sm btn-primary mt-3" href="/posters/">View Collection</a>
</div>

{{/block}}
{{/extends}}