{{#extends "base"}}
{{#block "content"}}

<h1>Welcome to my movie poster shop</h1>
<a class="btn btn-sm btn-primary" href="/posters/">View Collection</a>
<a class="btn btn-sm btn-primary" href="/about-us">About Us</a>
<a class="btn btn-sm btn-primary" href="/contact-us">Contact Us</a>


{{/block}}
{{/extends}}