{{#extends "base"}}
{{#block "content"}}

<h1>Create a new Poster</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add Poster" class="btn btn-primary btn-sm mt-3" />
</form>

{{/block}}
{{/extends}}